{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4 card p-4 shadow">
        <h3 class="text-center mb-4">Ücretsiz Kayıt</h3>
        <form method="POST">
            <input type="text" name="username" class="form-control mb-3" placeholder="Kullanıcı Adı" required>
            <input type="text" name="company_name" class="form-control mb-3" placeholder="Şirket Ünvanı" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Şifre" required>
            <button class="btn btn-primary w-100">Hesap Oluştur</button>
        </form>
    </div>
</div>
{% endblock %}